fastapi
uvicorn
python-dotenv

litellm
openai
openai-agents
oauth2client

redis
python-jose[cryptography]

faiss-cpu
chromadb

tavily-python

pydantic
requests

gspread
google-auth
google-auth-oauthlib



